.logo {
	font: 124px 'Arial Narrow', sans-serif;/* credit to https://codepen.io/rblakejohnson/pen/uLsvH*/          
	color: #fefefe;
	text-transform: uppercase;
	letter-spacing: -4px;
  }
  
 
  .logo span {
	position: relative;
  }
  .logo span:before,
  .logo span:after {
	content: '';
	position: absolute;
	border-width: 32px; 
	border-style: solid;
	border-color: transparent;
	height: 0;
	z-index: 10;
  }
  
 
  .logo .word1 {
	color: #dc006c;
	margin-right: -38px;
	transform: rotateY(180deg); 
	display: inline-block; 
	z-index: 10; 
  }
  .logo .word1:before {
	right: -4px; 
	top: -9px;
	 
  }
  .logo .word1:after {
	left: 17px; 
	bottom: -15px;
	 
  }
  
  
  .logo .word2 {
	z-index: 0; 
  }
  .logo .word2:before {
	left: -4px;
	top: -6px;
	 
  }
  .logo .word2:after {
	right: -4px;  
	bottom: 4px;
	 
  }
  
#ctx{
 
	clear: none;
	float: none;

}


div {
	display : none;
	 

}
 #Play, #Offline, #LevelE,#Options {
	background-color: rgba(17, 17, 17, 0.452);
	padding: 110px;
	margin-left: 150px;
	margin-right: 150px;
	margin-top: 40px;
	
}

#MainMenu {
    display : block;
	hover-color: black;
	background-color: rgba(17, 17, 17, 0.452);
	padding: 110px;
	margin-left: 150px;
	margin-right: 150px;
	margin-top: 40px;

}
body{
    text-align: center;
    font-family: 'Mina', sans-serif;
    font-size: 20px;
    width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

h4{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


button {
     
    text-align: center;
    position: relative;
    background-color: transparent;
    margin: auto;
    width: 30%;
    border: none;
    color: white;
    padding: 10px 0px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-family: 'Mina', sans-serif;
    font-size: 48px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	display: block;
}

button:hover {
    background-color: #ffffff; /* White */
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border: 1px solid black;

}
 
/*Tiled LvlEditor Bttns */
.Tiles{
	display: block;
	background-color: rgba(0, 0, 0, 0.541);
	border: solid 1px black;
	padding: 4px; 
	 
}

.Tiles button {
	border-radius: 50%;
    background-color: rgba(81, 78, 95, 0.212);  
    border: 3px ridge rgb(22, 22, 22); 
    color: white;  
    padding: 10px 10px; 
    cursor: pointer;  
	float: left;  
	margin: 7px;
	width: 10%;
 
}

 
.Tiles:after {
    content: "";
    clear: both;
    display: table;
}
 
 
.Tiles button:hover {
    background-color: #141522;
}
 

 

/* Lvl Editor Tabs */
 
.tab {
    margin: 20px;
	float: left;
    width: 20%;
	display: block; 
 
 
}

 
.tab button {
	display: block;
	background-color: white;
	border-radius: 50%;
    color: black;
    width: 100%;
    text-align: center;
	transition: 0.3s;
	font-size: 20px;
 
}
 
.tab button:hover {
    background-color: #ddd;
}

 
/*World Map*/
.columns {
    float: left;
    width: 33.3%;
	padding: 8px;
	list-style-type: none;
}

.header {
    background-color: #111;
    color: white;
    font-size: 25px;
}

@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
	}
}

.columns:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

li {
	border-bottom: 1px solid #eee;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
    padding: 20px;
	text-align: center;
	background-color: rgba(141, 118, 224, 0.404);
}
 



.Tile{
	display: block;
	background-color: rgba(0,0,0,0.2);
	border: solid 1px black;
	padding: 4px; 
	 
}

.Tile button {
	border-radius: 50%;
    background-color: rgba(81, 78, 95, 0.212);  
    border: 1px solid rgb(22, 22, 22); 
    color: white;  
    padding: 10px 10px; 
    cursor: pointer;  
	float: left;  
	margin-left: 12px;
	margin-right: 260px;
	width: 10%;
}

 
.Tile:after {
    content: "";
    clear: both;
    display: table;
}
 
 
.Tile button:hover {
    background-color: #141522;
}
 