body{
    background-color: rgb(255, 107, 107);
}
#Main_Content_Area{
    background-color: rgb(255, 255, 255);
    width: 70%;
    margin: auto;
    margin-top: 5em;
    padding: 2em;
    border: 10px;
    border-color: rgb(231, 14, 14);
    border-style: double;
    box-shadow: 10px 10px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#Table_Area{
    width: 90%;
}
#table{
    width: 100%;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none; 
  color: black;
}


#index_head{
    width: 100%;
    font-size: 70px; 
    margin-bottom: 20px;
}

.button{
    width: 100%;
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.button:hover{
    background-color: red;
    color:white
}
